/*page background color*/
html {
    background-color: whitesmoke;
}
/*boxes*/
#stemSubPage,
#stemMajorSubjects {
    border: 1px solid rgb(13, 62, 77);
    padding: 5px;
    margin: 2px;
}
/*textCSS*/
#stemSubPageName{
    color:#5b000b;
    font-size: 50px;
    text-align: center;
}
#stemSubPageParagraph {
    color: #5b000b;
    font-size: 35px;
    text-align: justify;
}
#backToHomeLink {
    font-size: 25px;
    color: #930014;
    text-decoration: underline;
}
.subjectName {
    font-size: 40px;
    color: #5b000b;
}
.subjectDescription {
    font-size: 30px;
    color: #930014;
    text-align: justify;
}