/*page background color*/
html {
    background-color: whitesmoke;
}
/*boxes*/
#ictSubPage,
#ictMajorSubjects {
    border: 1px solid rgb(13, 62, 77);
    padding: 5px;
    margin: 2px;
}
/*textCSS*/
#ictSubPageName{
    color:#1b2d58;
    font-size: 50px;
    text-align: center;
}
#ictSubPageParagraph {
    color: #465d88;
    font-size: 35px;
    text-align: justify;
}
.subjectName {
    font-size: 40px;
    color: #1b2d58;
}
.subjectDescription {
    font-size: 30px;
    color: #465d88;
    text-align: justify;
}