/*testCss*/
/*defaultBackground*/
html {
  background-color: white;
}
/*headerCSS*/
#amabeWeb {
  position: relative;
}
#amabeWeb > h1 {
  position: relative;
  left: 200px;
}
#amaLogo {
  border: 1px solid rgb(13, 62, 77);
  padding: 5px;
  margin: 2px;
  max-width: 150px;
}
/*navigationCSS*/
#amabeWebParagraph {
  position: relative;
}
/*footerCSS*/
#facebookLink {
  position: relative;
}
.link {
  text-decoration: underline;
  color: blue;
}
.link:hover {
  color: red;
}
.link:active {
  color: darkred;
}
/*mainCSS*/
.mainPage {
  font-family: "times new roman", "serif", "sans-serif";
  font-size: 100%;
  text-align: justify;
}
/*background pictures*/
#ictName {
  background-size: 100px;
  /*background-image: url(Pictures/ictcooking.jpg);*/
  background-repeat: no-repeat;
}
/*kinderCSS*/
.kinderSection {
  font-size: 20px;
}
.kinderSection {
  border: 1px solid rgb(13, 62, 77);
  padding: 5px;
  margin: 2px;
}
/*elementaryCSS*/
.elementarySection {
  font-size: 20px;
}
.elementarySection {
  border: 1px solid rgb(13, 62, 77);
  padding: 5px;
  margin: 2px;
}
/*juniorHighSchoolCSS*/
.juniorHighSection {
  font-size: 20px;
}
.juniorHighSection {
  border: 1px solid rgb(13, 62, 77);
  padding: 5px;
  margin: 2px;
}
/*seniorHighSchoolStrandsCSS*/
.amaStrands {
  font-size: 20px;
}
#seniorHighName {
  position: relative;
}
/*ictCSS*/
.ictArticle {
  position: relative;
  background: linear-gradient(45deg, #6a83ac80, #d0c4cf80, #d5b2ad80);
}
.ictArticle :hover {
  color: #1b2d58;
}
#ictName {
  color: #1b2d58;
}
#ictParagraph {
  color: #1b2d58;
}
#ictUL {
  color: #465d88;
}
#ictPicture {
  position: relative;
  top: -75px;
  left: 500px;
  max-height: 400px;
}
/*stemCSS*/
.stemArticle {
  position: relative;
  background: linear-gradient(135deg, #e7bd8a80, #e6875780, #db4b3a80);
}
#stemName {
  color: #5b000b;
}
#stemParagraph {
  color: #5b000b;
}
#stemUL {
  color: #930014;
}
/*abmCSS*/
.abmArticle {
  position: relative;
  background: linear-gradient(180deg, #ffb51580, #fded5480, #fff1af80);
}
#abmName {
  color: #ff798c;
}
#abmParagraph {
  color: #ff836f;
}
/*hummsCSS*/
.hummsArticle {
  position: relative;
  background: linear-gradient(180deg, #e5d7c480, #cfbb9980, #88906380);
}
#hummsName {
  color: #4c3d19;
}
#hummsParagraph {
  color: #4c3d19;
}
#hummsUL {
  color: #354024;
}
/*gasCSS*/
.gasArticle {
  position: relative;
  background: linear-gradient(90deg, #9fe2bf80, #98ff9880);
}
#gasName {
  color: #9966cc;
}
#gasParagraph {
  color: #c8a2c8;
}
/*boxCSS*/
#seniorHighName,
.ictArticle,
.stemArticle,
.abmArticle,
.hummsArticle,
.gasArticle {
  border: 1px solid rgb(13, 62, 77);
  padding: 5px;
  margin: 2px;
}
/*nameCSS*/
#kinderName,
#elementaryName,
#juniorHighName,
#seniorHighName,
#ictName,
#stemName,
#abmName,
#hummsName,
#gasName {
  text-align: center;
  font-size: 45px;
}